*{
  margin: 0 auto !important;
  padding: 0 0 !important ;
}
.d-flex{
  align-items: center;
  justify-content: center;
  height: 100px;
}

.container-fluid{
  width: 100% !important;
}
.equation{
  border: 2px solid white;
}
.operations div{
  height: 100%;
  border: 2px solid white;
}
.center div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.operations{
  width: 100%;
}
.keyboard-row{
  height: 80px !important;
  font-size: 32px !important;
}
button:active, button:focus{
  outline: none;
}
button{
  background-color: tomato;
  font-size: 48px !important;
  border: 2px solid white;
  color: white;
}