* {
  margin: 0 auto !important;
  padding: 0 0 !important ;
}
:root {
  --red: #e57373;
  --blue: #64b5f6;
  --yellow: #fff176;
  --green: #aed581;
}

.d-flex {
  align-items: center;
  justify-content: center;
  height: 100px;
}

.container-fluid {
  width: 100% !important;
}
.equation {
}
.operations div {
  height: 100%;
}
.center div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  height: 49.99% !important;
}
.operations,
.equation,
.answer {
  width: 100%;
  height: 33.33%;
}

.keyboard-row {
  height: 25% !important;
  font-size: 32px !important;
}

.key:active,
.key:focus {
  outline: none !important;
}
.full-height {
  height: 100vh !important;
}
.main {
  height: 100%;
}
.keyboard {
  height: 50% !important;
}

.key {
  background-color: inherit !important;
  font-size: 48px !important;

  color: white;
  border-radius: 25px !important;
}

.addition {
  background-color: var(--red) !important;
}
.subtraction {
  background-color: var(--blue) !important;
}
.multiplication {
  background-color: var(--green) !important;
}
.division {
  background-color: var(--yellow) !important;
}
.logo h1 {
  font-size: 60px !important;
}
.welcome {
  height: 100vh !important;
}
.logo {
  width: 80%;
  height: 50% !important;
}
.start-parent {
  height: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
}
.start {
  border: 1px solid var(--red);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50px;
  padding: 10px !important;
  width: 60%;
}
.start h1,
.logo h1 {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.logo h1:hover {
  font-size: 68px !important;
}

.logo h1:nth-child(1) {
  color: var(--red) !important;
}
.logo h1:nth-child(2) {
  color: var(--blue) !important;
}
.logo h1:nth-child(3) {
  color: var(--yellow) !important;
}
.logo h1:nth-child(4) {
  color: var(--green) !important;
}
.logo h1:nth-child(5) {
  color: var(--red) !important;
}
.logo h1:nth-child(6) {
  color: var(--blue) !important;
}
.logo h1:nth-child(7) {
  color: var(--yellow) !important;
}

.answer {
}

.start h1:nth-child(1) {
  color: var(--blue) !important;
}
.start h1:nth-child(2) {
  color: var(--red) !important;
}
.start h1:nth-child(3) {
  color: var(--green) !important;
}
.start h1:nth-child(4) {
  color: var(--yellow) !important;
}
.start h1:nth-child(5) {
  color: var(--red) !important;
}
